<h2>Figures in Homer's <em>Iliad</em></h2>

<% @figures.each do |figure| %>
  <div class="figure">
    <h3><%= link_to figure.name, figure %></h3>
    <p><%= figure.greek_name %></p>
  </div>
<% end %>
