body {
background-color: #000000;
color: #ffffff;
}

nav {
  color: #ffffff;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  background-color: #990024;
  border-bottom: 2px solid #000000;
  border-radius: 5px;
  padding: 5px;
  font-family: Georgia, serif;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav h1 {
  font-size: 3em;
}

nav a {
  color: inherit;
  text-decoration: none;
}

nav a:hover {
  color: #008000;
}

.view-header {
  text-align: center;
  font-size: 2.5em;
}

.index-container {
  display: flex;
  flex-flow: row wrap;
}

.form-container {
  font-family: Georgia, serif;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-field {
  margin: 20px;
  border: 1px solid black;
  border-radius: 3px;
}

.delete {
  text-decoration: #000000;
}

.figure, .home {
  text-align: center;
  border: 1px solid #000000;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
  max-width: 600px;
  font-size: 2em;
}

.figure a, .home a {
  color: inherit;
  text-decoration: none;
  padding: 5px;
}

.figure a:hover, .home a:hover {
  border: 2px solid #000000;
  border-radius: 10px;
}

.figure:hover {
  background-color: #ff0000;
}

.divine:hover {
  background-color: #2096ba;
}

.home:hover {
  background-color: #ff0000;
}

.img-small {
  max-width: 400px;
  overflow: hidden;
  border-radius: 10px;
}

.img-large {
  max-width: 800px;
  border-radius: 5px;
}
